<meta charset="utf-8">
<title>Dashboard</title>
<meta name="description" content="Best Website for T-Shirt Design">
<meta name="author" content="joeydash">
<meta name="mobile-web-app-capable" content="yes">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
<meta name="google-signin-client_id"
      content="955316250339-46j5dnc4h5dis0oen1lu9mlf9og2req6.apps.googleusercontent.com">


<link rel="icon" href="/images/icon.gif">



<!--css-->
<link href="/vendors/materialize/css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">


<!--fonts-->

<!--icons-->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">



<!--scripts-->
<script src="https://apis.google.com/js/platform.js" async defer></script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="/vendors/materialize/js/materialize.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>


