
<footer class="page-footer indigo darken-4" style="margin-top: 8px;">
    <div class="container">
        <div class="row">
            <div class="col l6 m6 s12">
                <ul>
                    <li><b>Contact</b></li>
                    <li>Guindy, Chennai</li>
                    <li>Tamil Nadu 600036</li>
                    <Li>nss@iitm.ac.in</Li>
                </ul>
            </div>
            <div class="col l4 m4 offset-m2 offset-l2 s12">
                <ul>
                    <Li><b>Legal</b></Li>
                    <li><a class="grey-text text-lighten-3" href="/termsandconditions">Terms and Conditions</a></li>
                    <li><a class="grey-text text-lighten-3" href="/privacypolicy">Privacy Policy</a></li>

                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2018-19 Copyright NSS IITM
            <a class="grey-text text-lighten-4 right" href="#">Back to top</a>
        </div>
    </div>
</footer>