<style>
    .zoom {
        transition: transform .2s; /* Animation */
        margin: 0 auto;
    }

    .zoom:hover {
        transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    }

</style>
<div id="about_nss">
    <div class="row" style="margin-bottom: 5vmin;margin-top: 5vmin;">
        <div style="font-family: 'Merriweather Sans', sans-serif;"
             class="w3-panel col l10 zoom offset-l1 heading_type_2 card"
             id="about_pane_bg">
            <h2 class="center teal-text">
                About Us
            </h2>
            <hr>
            <p class="center">
                "National Service Scheme IIT Madras is a student run organisation that was initiated over four decades
                ago with a vision, to cause benefit to the society is any possible way. We at NSS function with a
                mission to mobilise our the youth into a sect of progressive citizens and imbibe in them an inclination
                towards social service.

                National Service Scheme IIT Madras chapter has more than 300 students, from all respective years and
                batches, who help contribute to the cause of the scheme. Over the years we have undergone a series of
                structural and ideological changes in order to foster creativity and innovation in all our activities.
                By working out projects from Braille magazines to technology interventions, from teaching children in
                urban slums to educational video content, National Service Scheme, IITM seeks to challenge the mediocre
                thinking, and reach out into the darkness, to pull a hand into the light."
            </p>
        </div>
    </div>

</div>
<script>

</script>