<!--<style>-->

<!--</style>-->
<!--<div id="who_we_are_pane" class="container"></div>-->




<!--<script>-->

    <!--let converter = new showdown.Converter()-->
    <!--let who_we_are_pane = new Vue({-->
        <!--el : "#who_we_are_pane",-->
        <!--data : {-->
            <!--who_are_are : "#Who we are "-->
        <!--},-->
        <!--methods : {-->
            <!--convert_to_html: function (text) {-->
                <!--return converter.makeHtml(text)-->
            <!--},-->
        <!--},-->
        <!--mounted: function () {-->
            <!--this.$nextTick(function () {-->
                <!--this.get_designs();-->
            <!--})-->
        <!--}-->
    <!--});-->

<!--</script>-->